/*--Colors--*/
#car1 .front-window {
    background-color:rgba(87, 210, 251, 0.80);
}

#car1 .chassis {
    background-color:#4bb9b8;
}

#car1 .bonnet,
#car1 .bamper,
#car1 .side-bamper,
#car1 .side-door,
#car1 .wing,
#car1 .back-sheet,
#car1 .ria,
#car1 .ria-top,
.side-bamper:before,
#car1 .side-door:after {
    background-color:#2fc6bd;
}

#car1 .bonnet:after,
#car1 .side-door:after,
#car1 .side-bamper:before {
    background-color:#e8fffe;
}

/*--Global--*/
body {
    padding:0;
    margin:0;
    overflow-x:hidden;
}

#floor {
    width:100%;
    height:100%;
    position:absolute;
    font-size:100px;
    -webkit-transform:perspective(0px) translate3d(0.00px,0.00px,0px);
       -moz-transform:perspective(0px) translate3d(0.00px,0.00px,0px);
         -o-transform:perspective(0px) translate3d(0.00px,0.00px,0px);
        -ms-transform:perspective(0px) translate3d(0.00px,0.00px,0px);
            transform:perspective(0px) translate3d(0.00px,0.00px,0px);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

#car1 div {
    position:absolute;
}

#wrapper {
    width:100%;
    height:100%;
    position:fixed;
}

#outline {
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.centering {
    left:50%;
    top:50%;
    margin-left:-500px;
    margin-top:-500px;
    width:1000px;
    height:1000px;
    position:absolute;
}

/*--Basic Car Setting--*/
.car-base {
    position:absolute;
    width:300.0px;
    height:600.0px;
    background-image:-webkit-radial-gradient(center center, rgba(0, 0, 0, 0.30), rgba(255, 255, 255, 0.00));
    background-image:-moz-radial-gradient(center center, rgba(0, 0, 0, 0.30), rgba(255, 255, 255, 0.00));
    background-image:-o-radial-gradient(center center, rgba(0, 0, 0, 0.30), rgba(255, 255, 255, 0.00));
    background-image:-ms-radial-gradient(center center, rgba(0, 0, 0, 0.30), rgba(255, 255, 255, 0.00));
    background-image:radial-gradient(at center center, rgba(0, 0, 0, 0.30), rgba(255, 255, 255, 0.00));
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
    -webkit-transform:translate3d(350.00px,200.00px,5px);
       -moz-transform:translate3d(350.00px,200.00px,5px);
         -o-transform:translate3d(350.00px,200.00px,5px);
        -ms-transform:translate3d(350.00px,200.00px,5px);
            transform:translate3d(350.00px,200.00px,5px);
}

.chassis {
    background-color:rgba(252, 0, 127, 1.00);
    position:absolute;
    width:100%;
    height:519.0px;
    -webkit-transform:translate3d(0.00px,50.00px,30px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) scale(1.00) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(0.00px,50.00px,30px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) scale(1.00) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(0.00px,50.00px,30px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) scale(1.00) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(0.00px,50.00px,30px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) scale(1.00) skew(0.00deg, 0.00deg);
            transform:translate3d(0.00px,50.00px,30px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) scale(1.00) skew(0.00deg, 0.00deg);
}

.front-window {
    background-color:rgba(252, 101, 106, 0.80);
    width:100%;
    height:100.0px;
    -webkit-transform:translate3d(0.00px,222.50px,174.00px) rotate(0.00deg) rotateX(63.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(0.00px,222.50px,174.00px) rotate(0.00deg) rotateX(63.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(0.00px,222.50px,174.00px) rotate(0.00deg) rotateX(63.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(0.00px,222.50px,174.00px) rotate(0.00deg) rotateX(63.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(0.00px,222.50px,174.00px) rotate(0.00deg) rotateX(63.00deg) skew(0.00deg, 0.00deg);
}

.bamper {
    background-color:rgba(75, 185, 184, 1.00);
    position:absolute;
    width:100%;
    height:100px;
    -webkit-transform:translate3d(0.00px,0px,80px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
       -moz-transform:translate3d(0.00px,0px,80px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
         -o-transform:translate3d(0.00px,0px,80px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
        -ms-transform:translate3d(0.00px,0px,80px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
            transform:translate3d(0.00px,0px,80px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
    top:0;
}

.ria {
    background-color:rgba(43, 155, 152, 1.00);
    position:absolute;
    width:100%;
    height:100.0px;
    -webkit-transform:translate3d(0.00px,519px,80.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
       -moz-transform:translate3d(0.00px,519px,80.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
         -o-transform:translate3d(0.00px,519px,80.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
        -ms-transform:translate3d(0.00px,519px,80.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
            transform:translate3d(0.00px,519px,80.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg);
    top:0;
    background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
    background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
    background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
    background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
}

.ria-top {
    background-color:rgba(75, 185, 184, 1.00);
    position:absolute;
    width:100%;
    height:44.0px;
    -webkit-transform:translate3d(0.00px,532px,146.00px) rotateX(131.00deg) rotateY(0.00deg) rotateZ(0.00deg);
       -moz-transform:translate3d(0.00px,532px,146.00px) rotateX(131.00deg) rotateY(0.00deg) rotateZ(0.00deg);
         -o-transform:translate3d(0.00px,532px,146.00px) rotateX(131.00deg) rotateY(0.00deg) rotateZ(0.00deg);
        -ms-transform:translate3d(0.00px,532px,146.00px) rotateX(131.00deg) rotateY(0.00deg) rotateZ(0.00deg);
            transform:translate3d(0.00px,532px,146.00px) rotateX(131.00deg) rotateY(0.00deg) rotateZ(0.00deg);
    top:0;
    background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
    background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
    background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
    background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
}

.sheet-base {
    background-color:rgba(235, 235, 235, 1.00);
    position:absolute;
    width:100%;
    height:50px;
    top:0;
}

.sheet1 {
    -webkit-transform:translate3d(0.00px,335.7px,102.00px) rotate(0.00deg) rotateX(62.00deg) rotateY(0.00deg) rotateZ(0.00deg);
       -moz-transform:translate3d(0.00px,335.7px,102.00px) rotate(0.00deg) rotateX(62.00deg) rotateY(0.00deg) rotateZ(0.00deg);
         -o-transform:translate3d(0.00px,335.7px,102.00px) rotate(0.00deg) rotateX(62.00deg) rotateY(0.00deg) rotateZ(0.00deg);
        -ms-transform:translate3d(0.00px,335.7px,102.00px) rotate(0.00deg) rotateX(62.00deg) rotateY(0.00deg) rotateZ(0.00deg);
            transform:translate3d(0.00px,335.7px,102.00px) rotate(0.00deg) rotateX(62.00deg) rotateY(0.00deg) rotateZ(0.00deg);
}

.sheet2 {
    -webkit-transform:translate3d(0.00px,299px,80.00px) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg);
       -moz-transform:translate3d(0.00px,299px,80.00px) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg);
         -o-transform:translate3d(0.00px,299px,80.00px) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg);
        -ms-transform:translate3d(0.00px,299px,80.00px) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg);
            transform:translate3d(0.00px,299px,80.00px) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg);
    background-color:rgba(255, 255, 255, 1.00);
}

.bonnet {
    background-color:rgba(36, 212, 208, 1.00);
    position:absolute;
    width:100%;
    height:200.0px;
    -webkit-transform:translate3d(0.00px,50.00px,129px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(0.00px,50.00px,129px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(0.00px,50.00px,129px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(0.00px,50.00px,129px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(0.00px,50.00px,129px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.bonnet:after {
    background-color:rgba(186, 207, 235, 1.00);
    position:absolute;
    width:100px;
    height:200.0px;
    content:"";
    left:100px;
}

.back-sheet {
    background-color:rgba(78, 172, 170, 1.00);
    position:absolute;
    width:100%;
    height:127.0px;
    -webkit-transform:translate3d(0.00px,413px,163.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(0.00px,413px,163.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(0.00px,413px,163.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(0.00px,413px,163.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(0.00px,413px,163.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
    background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.34));
    background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.34));
    background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.34));
    background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.34));
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.34));
}

.side-bamper {
    position:absolute;
    width:100.0px;
    height:200.0px;
    background-color:rgba(75, 185, 184, 1.00);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.side-bamper:before,
.side-door:after {
    position:absolute;
    width:10.0px;
    height:100%;
    background-color:rgba(124, 208, 255, 1.00);
    content:"";
    left:50%;
}

.side-bamper-left {
    -webkit-transform:translate3d(-50.00px,50.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(-50.00px,50.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(-50.00px,50.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(-50.00px,50.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(-50.00px,50.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.side-bamper-right {
    -webkit-transform:translate3d(250.00px,50px,80.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(250.00px,50px,80.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(250.00px,50px,80.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(250.00px,50px,80.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(250.00px,50px,80.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.side-bamper-left-back {
    -webkit-transform:translate3d(-50.00px,350.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(-50.00px,350.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(-50.00px,350.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(-50.00px,350.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(-50.00px,350.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
    height:219.0px;
}

.side-bamper-right-back {
    -webkit-transform:translate3d(250.00px,350.00px,80.00px) rotate(0deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(250.00px,350.00px,80.00px) rotate(0deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(250.00px,350.00px,80.00px) rotate(0deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(250.00px,350.00px,80.00px) rotate(0deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(250.00px,350.00px,80.00px) rotate(0deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
    height:219.0px;
}

.side-door {
    position:absolute;
    width:100.0px;
    height:100.0px;
    background-color:rgba(75, 185, 184, 1.00);
}

.side-door-left {
    -webkit-transform:translate3d(-50px,250.00px,80.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(-50px,250.00px,80.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(-50px,250.00px,80.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(-50px,250.00px,80.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(-50px,250.00px,80.00px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.side-door-right {
    -webkit-transform:translate3d(250.00px,250.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(250.00px,250.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(250.00px,250.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(250.00px,250.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(250.00px,250.00px,80px) rotate(0.00deg) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.side-door-right:before {
    background-color:#ffffff;
    position:absolute;
    width:10px;
    height:40px;
    content:"";
    top:40px;
    left:20px;
}

.side-door-left:before {
    background-color:#ffffff;
    position:absolute;
    width:10px;
    height:40px;
    content:"";
    top:40px;
    left:20px;
}

.light {
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
    background-color:#e3f5ff;
    width:80.0px;
    height:50px;
    border-radius:4px;
    border:solid 1px #ffffff;
}

.light-left {
    -webkit-transform:translate3d(7.00px,18px,79.00px) rotateX(100.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(7.00px,18px,79.00px) rotateX(100.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(7.00px,18px,79.00px) rotateX(100.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(7.00px,18px,79.00px) rotateX(100.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(7.00px,18px,79.00px) rotateX(100.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.light-right {
    -webkit-transform:translate3d(211.00px,18px,79.00px) rotateX(100deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(211.00px,18px,79.00px) rotateX(100deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(211.00px,18px,79.00px) rotateX(100deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(211.00px,18px,79.00px) rotateX(100deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(211.00px,18px,79.00px) rotateX(100deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.plate {
    -webkit-transform:translate3d(104.00px,27px,79px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(180.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(104.00px,27px,79px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(180.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(104.00px,27px,79px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(180.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(104.00px,27px,79px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(180.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(104.00px,27px,79px) rotate(0.00deg) rotateX(90.00deg) rotateY(0.00deg) rotateZ(180.00deg) skew(0.00deg, 0.00deg);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
    background-color:#ffffff;
    width:90.0px;
    height:30px;
    border-radius:4px;
    border:solid 1px #ffffff;
    font-family:Helvetica Neue, sans-serif;
    padding-top:12.0px;
    text-align:center;
    font-size:11.0px;
    color:#4ea6d7;
}

.plate-back {
    -webkit-transform:translate3d(108.00px,549.00px,79.00px) rotate(0.00deg) rotateX(90deg) rotateY(180deg) rotateZ(180deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(108.00px,549.00px,79.00px) rotate(0.00deg) rotateX(90deg) rotateY(180deg) rotateZ(180deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(108.00px,549.00px,79.00px) rotate(0.00deg) rotateX(90deg) rotateY(180deg) rotateZ(180deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(108.00px,549.00px,79.00px) rotate(0.00deg) rotateX(90deg) rotateY(180deg) rotateZ(180deg) skew(0.00deg, 0.00deg);
            transform:translate3d(108.00px,549.00px,79.00px) rotate(0.00deg) rotateX(90deg) rotateY(180deg) rotateZ(180deg) skew(0.00deg, 0.00deg);
}

.handle {
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
    width:40px;
    height:40px;
    border-radius:35px;
    border:solid 8.0px #000000;
    -webkit-transform:translate3d(34px,236.00px,107.00px) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
       -moz-transform:translate3d(34px,236.00px,107.00px) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
         -o-transform:translate3d(34px,236.00px,107.00px) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
        -ms-transform:translate3d(34px,236.00px,107.00px) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
            transform:translate3d(34px,236.00px,107.00px) rotateX(90.00deg) rotateY(0.00deg) rotateZ(0.00deg) skew(0.00deg, 0.00deg);
}

.tire {
    width:100.0px;
    height:100.0px;
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.tires-front {
    -webkit-transform:translate3d(0.00px,90.00px,46px);
       -moz-transform:translate3d(0.00px,90.00px,46px);
         -o-transform:translate3d(0.00px,90.00px,46px);
        -ms-transform:translate3d(0.00px,90.00px,46px);
            transform:translate3d(0.00px,90.00px,46px);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.tires-back {
    -webkit-transform:translate3d(0.00px,450.00px,46px);
       -moz-transform:translate3d(0.00px,450.00px,46px);
         -o-transform:translate3d(0.00px,450.00px,46px);
        -ms-transform:translate3d(0.00px,450.00px,46px);
            transform:translate3d(0.00px,450.00px,46px);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.piller-face {
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.wing {
    position:absolute;
    width:50.0px;
    height:184.0px;
    overflow:hidden;
    background-color:rgba(20, 163, 146, 1.00);
}

.left-wing {
    -webkit-transform:translate3d(-25px,400.00px,154.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
       -moz-transform:translate3d(-25px,400.00px,154.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
         -o-transform:translate3d(-25px,400.00px,154.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
        -ms-transform:translate3d(-25px,400.00px,154.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
            transform:translate3d(-25px,400.00px,154.00px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
}

.right-wing {
    -webkit-transform:translate3d(275.00px,399px,154px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
       -moz-transform:translate3d(275.00px,399px,154px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
         -o-transform:translate3d(275.00px,399px,154px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
        -ms-transform:translate3d(275.00px,399px,154px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
            transform:translate3d(275.00px,399px,154px) rotateX(0.00deg) rotateY(90.00deg) rotateZ(0.00deg) skew(0.00deg, -30.00deg);
}

.tire-left {
    -webkit-transform:translate3d(-60px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
       -moz-transform:translate3d(-60px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
         -o-transform:translate3d(-60px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
        -ms-transform:translate3d(-60px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
            transform:translate3d(-60px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
}

.tire-left-back {
    -webkit-transform:translate3d(-60px,0px,0px) rotate(0.00deg) rotateY(90.00deg);
       -moz-transform:translate3d(-60px,0px,0px) rotate(0.00deg) rotateY(90.00deg);
         -o-transform:translate3d(-60px,0px,0px) rotate(0.00deg) rotateY(90.00deg);
        -ms-transform:translate3d(-60px,0px,0px) rotate(0.00deg) rotateY(90.00deg);
            transform:translate3d(-60px,0px,0px) rotate(0.00deg) rotateY(90.00deg);
}

.tire-left .tire-side:nth-child(1) {
    -webkit-transform:translate3d(0.00px,0.00px,-8px);
       -moz-transform:translate3d(0.00px,0.00px,-8px);
         -o-transform:translate3d(0.00px,0.00px,-8px);
        -ms-transform:translate3d(0.00px,0.00px,-8px);
            transform:translate3d(0.00px,0.00px,-8px);
}

.tire-left-back .tire-side:nth-child(1) {
    -webkit-transform:translate3d(0px,0px,-9px);
       -moz-transform:translate3d(0px,0px,-9px);
         -o-transform:translate3d(0px,0px,-9px);
        -ms-transform:translate3d(0px,0px,-9px);
            transform:translate3d(0px,0px,-9px);
}

.tire-left .tire-side:nth-child(2) {
    -webkit-transform:translate3d(0.00px,0.00px,9px);
       -moz-transform:translate3d(0.00px,0.00px,9px);
         -o-transform:translate3d(0.00px,0.00px,9px);
        -ms-transform:translate3d(0.00px,0.00px,9px);
            transform:translate3d(0.00px,0.00px,9px);
}

.tire-left-back .tire-side:nth-child(2) {
    -webkit-transform:translate3d(0.00px,0.00px,8px);
       -moz-transform:translate3d(0.00px,0.00px,8px);
         -o-transform:translate3d(0.00px,0.00px,8px);
        -ms-transform:translate3d(0.00px,0.00px,8px);
            transform:translate3d(0.00px,0.00px,8px);
}

.tire-right {
    -webkit-transform:translate3d(260.00px,0.00px,0px) rotate(0.00deg) rotateY(90.00deg) rotateZ(0.00deg);
       -moz-transform:translate3d(260.00px,0.00px,0px) rotate(0.00deg) rotateY(90.00deg) rotateZ(0.00deg);
         -o-transform:translate3d(260.00px,0.00px,0px) rotate(0.00deg) rotateY(90.00deg) rotateZ(0.00deg);
        -ms-transform:translate3d(260.00px,0.00px,0px) rotate(0.00deg) rotateY(90.00deg) rotateZ(0.00deg);
            transform:translate3d(260.00px,0.00px,0px) rotate(0.00deg) rotateY(90.00deg) rotateZ(0.00deg);
}

.tire-right-back {
    -webkit-transform:translate3d(260px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
       -moz-transform:translate3d(260px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
         -o-transform:translate3d(260px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
        -ms-transform:translate3d(260px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
            transform:translate3d(260px,0.00px,0.00px) rotate(0.00deg) rotateY(90.00deg);
}

.tire-right .tire-side:nth-child(1) {
    -webkit-transform:translate3d(0.00px,0.00px,8px);
       -moz-transform:translate3d(0.00px,0.00px,8px);
         -o-transform:translate3d(0.00px,0.00px,8px);
        -ms-transform:translate3d(0.00px,0.00px,8px);
            transform:translate3d(0.00px,0.00px,8px);
}

.tire-right-back .tire-side:nth-child(1) {
    -webkit-transform:translate3d(0.00px,0.00px,9px);
       -moz-transform:translate3d(0.00px,0.00px,9px);
         -o-transform:translate3d(0.00px,0.00px,9px);
        -ms-transform:translate3d(0.00px,0.00px,9px);
            transform:translate3d(0.00px,0.00px,9px);
}

.tire-right .tire-side:nth-child(2) {
    -webkit-transform:translate3d(0.00px,0.00px,-9px);
       -moz-transform:translate3d(0.00px,0.00px,-9px);
         -o-transform:translate3d(0.00px,0.00px,-9px);
        -ms-transform:translate3d(0.00px,0.00px,-9px);
            transform:translate3d(0.00px,0.00px,-9px);
}

.tire-right-back .tire-side:nth-child(2) {
    -webkit-transform:translate3d(0.00px,0.00px,-8px);
       -moz-transform:translate3d(0.00px,0.00px,-8px);
         -o-transform:translate3d(0.00px,0.00px,-8px);
        -ms-transform:translate3d(0.00px,0.00px,-8px);
            transform:translate3d(0.00px,0.00px,-8px);
}

.tire-side {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 1.00);
    border-radius:50px;
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.tire-side:before {
    position:absolute;
    width:50%;
    height:50%;
    background-color:rgba(255, 255, 255, 1.00);
    border-radius:50px;
    content:"";
    top:25px;
    left:25px;
}

.tire-grip {
    background-color:rgba(28, 32, 35, 1.00);
    width:18.0px;
    height:9.0px;
}

.r360-1 {
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.r360-2 {
    -webkit-transform:translate3d(100.00px,0.00px,0.00px) rotateZ(90.00deg);
       -moz-transform:translate3d(100.00px,0.00px,0.00px) rotateZ(90.00deg);
         -o-transform:translate3d(100.00px,0.00px,0.00px) rotateZ(90.00deg);
        -ms-transform:translate3d(100.00px,0.00px,0.00px) rotateZ(90.00deg);
            transform:translate3d(100.00px,0.00px,0.00px) rotateZ(90.00deg);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.r360-3 {
    -webkit-transform:translate3d(100.00px,100.00px,0.00px) rotateZ(180.00deg);
       -moz-transform:translate3d(100.00px,100.00px,0.00px) rotateZ(180.00deg);
         -o-transform:translate3d(100.00px,100.00px,0.00px) rotateZ(180.00deg);
        -ms-transform:translate3d(100.00px,100.00px,0.00px) rotateZ(180.00deg);
            transform:translate3d(100.00px,100.00px,0.00px) rotateZ(180.00deg);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.r360-4 {
    -webkit-transform:translate3d(0.00px,100.00px,0.00px) rotateZ(270.00deg);
       -moz-transform:translate3d(0.00px,100.00px,0.00px) rotateZ(270.00deg);
         -o-transform:translate3d(0.00px,100.00px,0.00px) rotateZ(270.00deg);
        -ms-transform:translate3d(0.00px,100.00px,0.00px) rotateZ(270.00deg);
            transform:translate3d(0.00px,100.00px,0.00px) rotateZ(270.00deg);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
            transform-style:preserve-3d;
}

.r1 {
    -webkit-transform:translate3d(-8.5px,45.00px,0.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(90.00deg) rotateZ(90.00deg);
       -moz-transform:translate3d(-8.5px,45.00px,0.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(90.00deg) rotateZ(90.00deg);
         -o-transform:translate3d(-8.5px,45.00px,0.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(90.00deg) rotateZ(90.00deg);
        -ms-transform:translate3d(-8.5px,45.00px,0.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(90.00deg) rotateZ(90.00deg);
            transform:translate3d(-8.5px,45.00px,0.00px) rotate(0.00deg) rotateX(90.00deg) rotateY(90.00deg) rotateZ(90.00deg);
}

.r2 {
    -webkit-transform:translate3d(-8.00px,53.6px,0.00px) rotateX(90.00deg) rotateY(79.00deg) rotateZ(90.00deg);
       -moz-transform:translate3d(-8.00px,53.6px,0.00px) rotateX(90.00deg) rotateY(79.00deg) rotateZ(90.00deg);
         -o-transform:translate3d(-8.00px,53.6px,0.00px) rotateX(90.00deg) rotateY(79.00deg) rotateZ(90.00deg);
        -ms-transform:translate3d(-8.00px,53.6px,0.00px) rotateX(90.00deg) rotateY(79.00deg) rotateZ(90.00deg);
            transform:translate3d(-8.00px,53.6px,0.00px) rotateX(90.00deg) rotateY(79.00deg) rotateZ(90.00deg);
}

.r3 {
    -webkit-transform:translate3d(-6.00px,62px,0.00px) rotateX(90.00deg) rotateY(72.00deg) rotateZ(90.00deg);
       -moz-transform:translate3d(-6.00px,62px,0.00px) rotateX(90.00deg) rotateY(72.00deg) rotateZ(90.00deg);
         -o-transform:translate3d(-6.00px,62px,0.00px) rotateX(90.00deg) rotateY(72.00deg) rotateZ(90.00deg);
        -ms-transform:translate3d(-6.00px,62px,0.00px) rotateX(90.00deg) rotateY(72.00deg) rotateZ(90.00deg);
            transform:translate3d(-6.00px,62px,0.00px) rotateX(90.00deg) rotateY(72.00deg) rotateZ(90.00deg);
}

.r4 {
    -webkit-transform:translate3d(-2.5px,70.00px,0.00px) rotateX(90.00deg) rotateY(60deg) rotateZ(90.00deg);
       -moz-transform:translate3d(-2.5px,70.00px,0.00px) rotateX(90.00deg) rotateY(60deg) rotateZ(90.00deg);
         -o-transform:translate3d(-2.5px,70.00px,0.00px) rotateX(90.00deg) rotateY(60deg) rotateZ(90.00deg);
        -ms-transform:translate3d(-2.5px,70.00px,0.00px) rotateX(90.00deg) rotateY(60deg) rotateZ(90.00deg);
            transform:translate3d(-2.5px,70.00px,0.00px) rotateX(90.00deg) rotateY(60deg) rotateZ(90.00deg);
}

.r5 {
    -webkit-transform:translate3d(2.5px,77.00px,0.00px) rotateX(90.00deg) rotateY(50deg) rotateZ(90.00deg);
       -moz-transform:translate3d(2.5px,77.00px,0.00px) rotateX(90.00deg) rotateY(50deg) rotateZ(90.00deg);
         -o-transform:translate3d(2.5px,77.00px,0.00px) rotateX(90.00deg) rotateY(50deg) rotateZ(90.00deg);
        -ms-transform:translate3d(2.5px,77.00px,0.00px) rotateX(90.00deg) rotateY(50deg) rotateZ(90.00deg);
            transform:translate3d(2.5px,77.00px,0.00px) rotateX(90.00deg) rotateY(50deg) rotateZ(90.00deg);
}

.r6 {
    -webkit-transform:translate3d(8.90px,83.50px,0.00px) rotateX(90.00deg) rotateY(40.00deg) rotateZ(90.00deg);
       -moz-transform:translate3d(8.90px,83.50px,0.00px) rotateX(90.00deg) rotateY(40.00deg) rotateZ(90.00deg);
         -o-transform:translate3d(8.90px,83.50px,0.00px) rotateX(90.00deg) rotateY(40.00deg) rotateZ(90.00deg);
        -ms-transform:translate3d(8.90px,83.50px,0.00px) rotateX(90.00deg) rotateY(40.00deg) rotateZ(90.00deg);
            transform:translate3d(8.90px,83.50px,0.00px) rotateX(90.00deg) rotateY(40.00deg) rotateZ(90.00deg);
}

.r7 {
    -webkit-transform:translate3d(16.00px,88.5px,0.00px) rotateX(90.00deg) rotateY(31deg) rotateZ(90.00deg);
       -moz-transform:translate3d(16.00px,88.5px,0.00px) rotateX(90.00deg) rotateY(31deg) rotateZ(90.00deg);
         -o-transform:translate3d(16.00px,88.5px,0.00px) rotateX(90.00deg) rotateY(31deg) rotateZ(90.00deg);
        -ms-transform:translate3d(16.00px,88.5px,0.00px) rotateX(90.00deg) rotateY(31deg) rotateZ(90.00deg);
            transform:translate3d(16.00px,88.5px,0.00px) rotateX(90.00deg) rotateY(31deg) rotateZ(90.00deg);
}

.r8 {
    -webkit-transform:translate3d(23.50px,92.00px,0.00px) rotateX(90.00deg) rotateY(18deg) rotateZ(90.00deg);
       -moz-transform:translate3d(23.50px,92.00px,0.00px) rotateX(90.00deg) rotateY(18deg) rotateZ(90.00deg);
         -o-transform:translate3d(23.50px,92.00px,0.00px) rotateX(90.00deg) rotateY(18deg) rotateZ(90.00deg);
        -ms-transform:translate3d(23.50px,92.00px,0.00px) rotateX(90.00deg) rotateY(18deg) rotateZ(90.00deg);
            transform:translate3d(23.50px,92.00px,0.00px) rotateX(90.00deg) rotateY(18deg) rotateZ(90.00deg);
}

.r9 {
    -webkit-transform:translate3d(32.00px,94.2px,0.00px) rotateX(90.00deg) rotateY(10deg) rotateZ(90.00deg);
       -moz-transform:translate3d(32.00px,94.2px,0.00px) rotateX(90.00deg) rotateY(10deg) rotateZ(90.00deg);
         -o-transform:translate3d(32.00px,94.2px,0.00px) rotateX(90.00deg) rotateY(10deg) rotateZ(90.00deg);
        -ms-transform:translate3d(32.00px,94.2px,0.00px) rotateX(90.00deg) rotateY(10deg) rotateZ(90.00deg);
            transform:translate3d(32.00px,94.2px,0.00px) rotateX(90.00deg) rotateY(10deg) rotateZ(90.00deg);
}

.social {
    position:fixed;
    -webkit-transform:translate3d(0.00px,0.00px,1000000.00px);
       -moz-transform:translate3d(0.00px,0.00px,1000000.00px);
         -o-transform:translate3d(0.00px,0.00px,1000000.00px);
        -ms-transform:translate3d(0.00px,0.00px,1000000.00px);
            transform:translate3d(0.00px,0.00px,1000000.00px);
    right:10px;
    top:10px;
}

